{% extends "index.html" %}

{% block content %}
    {% for game in games -%}
        <div class="game_card">
            <div class="game_card_img">
                <img src="" width="100" height="100">
            </div>
            <div class="game_card_descr">
                <a href="/games/{{ game.id }}"><h3>{{ game.name }}</h3></a>
                <p>Score:</p>
            </div>
        </div>
    {%- endfor %}

    <div>
        {% if page_number > 0 %}
            <a href="/?pageNumber={{ page_number - 1 }}">Prev</a>
        {% endif %}
        <a href="/?pageNumber={{ page_number + 1 }}">Next</a>
    </div>
{% endblock %}